{% load static %}

<script>
	
</script>

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link type="text/css" rel="stylesheet" type="text/css" href="{% static 'css/signIn.css' %}">
	<title>Add product</title>
	
</head>
<body>
	<div class="header">
	<h1>Rack<span>store</span></h1>
	</div>
	<div class="loginform">
<p>Fill in the info for a product</p>
<form action="/postcreate/" method="post">
	{% csrf_token %}
	Product Id
	<input type="text" name="productId" ><br><br>
	Product Name:
	<input type="text" name="productName" ><br><br>
	Product Description:
	<textarea rows="5" cols="40" name="productDescription"></textarea>
	
	Product Price:
	<input type="text" name="productPrice" ><br><br>
	<input class="s-btn" type="submit" value="Add product" ><br><br>
	
</form>
</div>
<footer>
	<h1>Rack<span>store</span></h1>
</footer>
</body>
</html>

