{% load static %}
{% if messg %}
<script>
	alert('{{messg}}');
</script>
{% endif %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link type="text/css" rel="stylesheet" type="text/css" href="{% static 'css/signIn.css' %}">
	<title>sign in</title>
	
</head>
<body>
	<h1>Rack<span>store</span></h1>
<p>Input your your email and password to log in </p>
<form action="/postsign/" method="post">
	{% csrf_token %}
	<p1>Email :</p1>
	<input type="email" name="email"><br><br>
	<p1>Password :</p1>
	<input type="password" name="pass"><br><br>
	<input class="s-btn" type="submit" value="SignIn" >
	<button class="s-btn" type="button" onclick="location.href='{%url 'signup' %}'">SignUP</button>
</form>
</body>
</html>

